*{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.secdes{
    color: #757575;
    text-align: center;
    font-size: 18px;
    
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    
}
.maruf{
    color: black;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}
.r{
    color: red;
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    border: 5px 5px;
    padding: 5px 5px;
}

nav a{
    text-decoration: none;
    color: red;
    
}
nav li:hover{
    background-color: aqua;
    
    
}
.headclass{
    background-color: antiquewhite;
    background-image: url('./images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn{
        padding: 10px 12px;
        background-color: black;
        
        color: aliceblue;
}
.propic{
    width: 400px;
    padding: 30px 30px 0 150px;
}


.b1{
    font-size: 45px;
}
.b2{
    font-size: 85px;
    font-weight: 700;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin-top: 130px 0;

}
main{
    width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 103px;
}
.about-con{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#secwhat{
    padding: 30px 150px;
}
.skills{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     
}
.rescoltitle{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.rescon{
    display: flex;
    gap: 50px;

}
.rescon hr{
    margin: 30px;
}
.resi-info{
    color: #757575;
    color: 20px;
}
.resi-com{
    color: #757575;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.resititle{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}
.downloadcv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    gap: 120px;
    background: #fff8f3;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-col{
    width: 50%;
}
.contactform input[type="text"], .contactform input[type="email"] , textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    font-size: 16px;
    color: #757575;
    background: #fff;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
.social{
    margin-right: 25px;
    text-align: center;
}


